<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.PostgreSQLDialect</property>
    <property name="connection.driver_class">NHibernate.Driver.NpgsqlDriver</property>
    <property name="connection.connection_string">
      Server=localhost;database=tarefas_db;user id=user1;password=user1
    </property>
    <property name="show_sql">true</property>
    <mapping assembly="TarefasDiarias"></mapping>
  </session-factory>
</hibernate-configuration>
